* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: #022F40;
    --color2: #183446;
    --color3: #046E8F;
    --color4: #0090C1;
    --color5: #38AECC;
}

body {
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--color1);
    color: #fff;
    padding: 30px;
    width: 450px;
    border-radius: 20px;
    box-shadow: 0px 0px 33px 13px #38AECC;
    transition: all 0.2s ease-in-out;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form:hover {
    box-shadow: 0px 0px 40px 15px #38AECC;
    scale: 1.02;
}

::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form button {
    align-self: flex-end;
}

.flex-column>label {
    color: #fff;
    font-weight: 600;
}

.inputForm {
    border: 1.5px solid #fff;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
}

.input {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 85%;
    height: 100%;
    background-color: transparent;
    color: #fff;
}

.input::placeholder {
    color: #fff;
    font-weight: 400;
}

.input:focus {
    outline: none;
}

.inputForm:focus-within {
    border: 1.5px solid #2d79f3;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.flex-row>div>label {
    font-size: 14px;
    color: #fff;
    font-weight: 400;
}

.span {
    font-size: 14px;
    margin-left: 5px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

.eye {
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: #fff;
}

.button-submit {
    margin: 20px 0 10px 0;
    background-color: #3B82F6;
    /* Trustworthy blue */
    color: white;
    border: none;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
}

.button-submit:hover {
    background-color: #2563EB;
    /* Darker blue */
}

.p {
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin: 5px 0;
}

.btn {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 10px;
    border: 1px solid #ededef;
    background-color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn:hover {
    border: 1px solid #2d79f3;
    background-color: #38aeccac;
}

.back {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #fff;
    background-color: var(--color1);
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    border: none;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.back:hover {
    color: var(--color1);
    background-color: #fff;
}

@media(max-width:700px) {
    .form {
        padding: 15px 25px;
    }

    .eye {
        margin-right: 10px;
    }

    .back {
        bottom: 5px;
        right: 5px;
    }
}